body{
    background-color: rgba(84, 84, 84, 0.721);
    margin: 0%;
}
.main{
    border: 6px solid goldenrod;
    height: auto;
    text-align: center;
}
.pic img{
    width: 250px;
    height:250px;
    border: 5px solid goldenrod;
    border-radius: 50%;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
}
h2 {
    color: white;
    font-family: serif;
    text-transform: uppercase;
}
b{
    color: goldenrod;
}
.links{
    display: block;
    border: 5px solid goldenrod;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 20px;
    transition: 1s;
}
.links:hover{
    border-radius: 30px 0px 30px 0px ;
    background-color: burlywood;

}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: red;
}
.copy{
    padding: 20px;
    color: goldenrod;
}